h1{
    color: white;
    color: ;
    font-size: 30pt;
    font-style: italic;
}

body{
    background-image: url("Treescape.jpg");
    background-position: center;
    background-repeat: false;
    background-repeat: repeat-y;
}